$white: #f9f9f9;
$pink: #e79c81;
$light-blue: #49afe7;
$dark-grey: #9e9fa0;
$emerald: #45c552;

@mixin button($background: $light-blue, $fontColor: $white) {
  background-color: $background;
  border-radius: 2px;
  border: none;
  color: $fontColor;
  cursor: pointer;
  font-weight: 500;
  padding: 0.5rem 1.5rem;

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}

@mixin card($backgroundColor: $white, $fontColor: $emerald) {
  background-color: $backgroundColor;
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  color: $fontColor;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

@mixin input() {
  background-color: transparent;
  background-image: linear-gradient($pink, $pink), linear-gradient($light-blue, $light-blue);
  background-position: center bottom, center calc(100% - 1px);
  background-repeat: no-repeat;
  background-size: 0 2px, 100% 1px;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  float: none;
  font-weight: 400;
  line-height: 1.42857;
  margin-bottom: 0.5rem;
  outline: none;
  padding: 7px 0;
  transition: background 0s ease-out;
  width: 12rem;
}
